%h1 All Projects
%table
  %thead
    %tr
      %td Project Name
      %td Total Project Size
  %tbody
    - @projects.each do |project|
      %tr{ class: "project-row", id: "#{dom_id(project)}" }
        %td{ class: "name" }= project.name
        %td{ class: "total-size" }= project.total_size
